# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environment
xfeed/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# macOS specific
.DS_Store

# Logs and databases
*.log
*.db
decrypt_files.sh
*.gpg
# Temp files
.temp/
/secure/

*.pkl

gh-actions-deploy-key
gh-actions-deploy-key.pub
encrypt_sync.sh
*.code-workspace
/dev
output.zip
github_rsa
github_rsa.pub
github_rsa_single_line.txt
