beautifulsoup4
colorama
openai
playsound
python-dotenv
pyyaml
readability-lxml
requests
tiktoken
gTTS
docker
duckduckgo-search
google-api-python-client #(https://developers.google.com/custom-search/v1/overview)
pinecone-client
redis
orjson
Pillow
selenium
webdriver-manager
jsonschema
tweepy
click
Cython

##Dev
coverage
flake8
numpy
pre-commit
black
sourcery
isort
gitpython==3.1.31

# Items below this point will not be included in the Docker Image

# Testing dependencies
pytest
asynctest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-integration
pytest-mock
