annotated-types
anyio
asynctest
attrs
beautifulsoup4
black
cachetools
certifi
cffi
cfgv
chardet
charset-normalizer
click
colorama
coverage
cssselect
curl_cffi
Cython
distlib
distro
docker
duckduckgo_search
filelock
flake8
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
gTTS
h11
httpcore
httplib2
httpx
identify
idna
iniconfig
isort
jsonschema
jsonschema-specifications
lxml
mccabe
mypy-extensions
nodeenv
numpy
oauthlib
openai
orjson
outcome
packaging
pathspec
pillow
pinecone-client
platformdirs
pluggy
pre-commit
proto-plus
protobuf
py-cpuinfo
pyasn1
pyasn1_modules
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
pyparsing
PySocks
pytest
pytest-asyncio
pytest-benchmark
pytest-cov
pytest-integration
pytest-mock
python-dotenv
PyYAML
readability-lxml
redis
referencing
regex
requests
requests-oauthlib
rpds-py
rsa
selenium
setuptools
smmap
sniffio
sortedcontainers
soupsieve
sourcery
tiktoken
tqdm
trio
trio-websocket
tweepy
typing_extensions
uritemplate
urllib3
virtualenv
webdriver-manager
wsproto
